body{
    background-color: grey;
    color : white;
    display :flex;
    flex-direction: column;
}
.button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}
#container{
    display : flex;
    height :40vh;
    justify-content: center;
    align-items: center;
    gap :15px;
}
h1{
    text-align: center;
    margin : 50px;
}